html {
  min-height: 100%;
  background: black;
}

body, .ReactModal__Content, .audioBtn--1H6rCK span:last-child, .chat--111wNM, .note--1ESx6q, .listItem--Siv4F, .hideBtn--2kqDJM, #outerdocbody, .toolbar ul li a, .chatListItem--Z2sTdzU {
  background-color: var(--main-bg) !important;
  color: var(--main-fg);

  font-weight: 500;
  font-family: Montserrat, Roboto, Helvetica Neue, HelveticaNeue, Helvetica, Arial, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
  letter-spacing: 0.02em;

  a, button, .hideBtn--ZOkOfz {
    color: var(--clr-primary) !important;
    font-weight: 600;
    fill: currentColor !important;

    &:hover, &:focus {
      color: var(--link-hover) !important;
    }
  }
}

.toolbar ul li a.selected {
  background-color: var(--clr-bbb-background);
}

.chatNameMain--Z1S9hh4, .userNameMain--2fo2zM, .hideBtn--ZOkOfz > i {
  color: var(--main-fg);
}

.toc, .mw-warning, .toccolours, code, .systemMessage--ZYspJQ, .chatListItem--Z2sTdzU:hover, .active--Z1SuO2X, .userListItem--Z1qtuLG:hover,.userListItem--Z1qtuLG:focus, .listItem--Siv4F:hover, #innerdocbody, .hideBtn--2kqDJM:hover, .toolbar, .hideBtn--ZOkOfz, .toolbar ul li a:hover, .hideBtn--ZOkOfz:hover, .usertListItemWithMenu--Z27EKt2 {
  background-color: black;
  color: var(--main-fg);
  border: none;
  box-shadow: none;
}

.input--2wilPX {
  background-color: black;
  color: var(--main-fg);
  border: 1px solid var(--main-fg);
  box-shadow: none;

  &:focus {
    border-color: var(--clr-primary);
  }
}

.audioBtn--1H6rCK span:first-child, .audioBtn--1H6rCK:hover span:first-child, .audioBtn--1H6rCK:focus span:first-child {
  background-color: black;
  border: 5px solid var(--clr-text-disabled);
}
.audioBtn--1H6rCK:hover span:first-child, .audioBtn--1H6rCK:focus span:first-child {
  border-color: var(--clr-primary);
}

.audioBtn--1H6rCK i {
  color: var(--clr-text-disabled);
}

.messageList--hsNac {
  background: none;
}

html, .scrollableList--Z2s6Her, .messageList--hsNac {
  scrollbar-color: rgba(255, 255, 255, 0.31) rgba(244, 241, 241, 0.1);
  scrollbar-width: thin;
}

.userlistPad--o5KDX {
  background-color: rgba(149, 226, 230, 0.27);
}
