#app {
  font-weight: 500;
  font-family: Montserrat, Roboto, Helvetica Neue, HelveticaNeue, Helvetica, Arial, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
  letter-spacing: 0.02em;

  // Scrollbars

  .scrollbar-rail-y, .bunt-scrollbar .bunt-scrollbar-rail-wrapper-y .bunt-scrollbar-rail-y {
    background-color: var(--scrollbar-rail);
    width: 10px;
  }

  .c-scrollbars .scrollbar-rail-y .scrollbar-thumb, .bunt-scrollbar .bunt-scrollbar-rail-wrapper-y .bunt-scrollbar-rail-y .bunt-scrollbar-thumb {
    width: 10px;
    opacity: 0.4;
    border-radius: 0;
    right: 0;
  }

  // Tooltips

  .bunt-tooltip {
    background-color: var(--main-bg);
  }

  // Sidebar (left)

  .c-rooms-sidebar > .profile .c-avatar {
    background-color: var(--clr-input-primary-fg)
  }

  // Main area (right)

  .c-room, .c-userlist, .c-userlist .profile .content .exhibitors .exhibitor, .c-userlist .profile .content .exhibitors .exhibitor .short-text, .c-userlist .user-list, .c-exhibition, .c-exhibition .exhibitor, .c-exhibition .exhibitor .short-text,
  .v-preferences, .c-channel, .c-chat, .actions, .emoji-mart, .emoji-mart-category-label span, .background-room, .c-prompt .prompt-wrapper, .c-chat-user-card .user-card, .c-contact-requests, .c-contact-requests .header, .c-exhibitors, .c-exhibitors .exhibitor-list .header,
  .c-exhibitors .exhibitor-list .name {
    background-color: var(--main-bg);
    color: var(--main-fg);

    a, .profile .actions .action-row .bunt-button, .bunt-icon-button .bunt-icon, .c-emoji-picker-button .btn-emoji-picker svg path, .c-chat-user-card .user-card .actions .bunt-button, .contact-requests-list .actions .btn-open-dm {
      color: var(--clr-primary) !important;
      font-weight: 600;
      fill: currentColor !important;

      &:hover, &:focus {
        color: var(--link-hover) !important;
      }
    }

    .bunt-icon-button:hover:not(.disabled), .btn-emoji-picker:hover:not(.disabled), .emoji-mart-category .emoji-mart-emoji:hover::before {
      background-color: var(--clr-primary-alpha-50) !important;
    }

    // schedule
    img[src="/media/pub/kif490/b9fde30e-0025-4432-853b-819a2fecf27e.EtEOfJLlKWym.png"] {
      filter: invert(100%);
    }

    .c-avatar > img {
      background-color: rgb(53, 53, 53);
    }
  }

  .c-create-dm-prompt .content p {
    color: var(--main-fg);
  }

  // Lists with hover and panels

  .c-user-search .list .list__item:hover, .c-user-search .list .selected, .c-chat-message:hover, .actions:not(.c-contact-requests *), .emoji-mart, .background-room, .c-prompt .prompt-wrapper, .c-user-select .search-results .user:hover, .c-chat-user-card .user-card,
  .c-contact-requests .contact-requests-list .tbody .table-row.active, .c-contact-requests .contact-requests-list .tbody .table-row:hover, .c-exhibitors .exhibitor-list .tbody .table-row.active, .c-exhibitors .exhibitor-list .tbody .table-row:hover, .c-exhibitors .exhibitor-list .table-row:hover .name {
    background-color: black;
  }

  // Inputs

  input {
    background-color: black;
    border: 1px solid var(--main-fg);
    border-radius: 0;
    color: var(--main-fg);
  }

  .bunt-input .outline {
    stroke: var(--clr-sidebar-text-disabled);
  }

  .bunt-input input, .bunt-input label {
    color: var(--main-fg);

    &::placeholder {
      color: var(--clr-sidebar-text-disabled);
    }
  }

  // Chat

  .c-chat-message .timestamp {
    color: var(--clr-sidebar-active-fg);
    font-weight: 600;
    font-size: 0.9em;
    font-family: monospaced;
  }

  .c-chat-message .message-header .timestamp {
    order: -1;
    margin-right: 1em;
    background-color: var(--clr-sidebar-active-bg);
    padding: 0 2px;
  }

  .c-chat-message .content-wrapper .preview-card {
    background-color: black;

    .url {
      color: white !important;
    }
  }

}
