#column-one {
  display: none;
}

.mw-body {
  margin: 0;
  border: none;
}

.mw-body, .mw-footer, body, .toc, .mw-warning, .toccolours {
  background-color: var(--main-bg);
  color: var(--main-fg);

  font-weight: 500;
  font-family: Montserrat, Roboto, Helvetica Neue, HelveticaNeue, Helvetica, Arial, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
  letter-spacing: 0.02em;

  a {
    color: var(--clr-primary) !important;
    font-weight: 600;
    fill: currentColor !important;

    &:hover, &:focus {
      color: var(--link-hover) !important;
    }
  }
}

.toc, .mw-warning, .toccolours, code {
  background-color: black;
  color: var(--main-fg);
  border: none;
}

.tocnumber {
  color: var(--main-fg);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(193, 192, 192);
}

img {
  background-color: rgb(53, 53, 53);
}
