#app, #app :root, :root {
    --clr-primary: rgb(78, 154, 222) !important;
    --clr-sidebar: rgb(51, 5, 21) !important;
    --clr-bbb-background: rgb(0, 32, 74);
    --clr-primary-darken-15: rgb(111, 179, 251) !important;
    --clr-primary-darken-20: rgb(141, 196, 255) !important;
    --clr-primary-alpha-60: rgba(78, 154, 222, 0.6) !important;
    --clr-primary-alpha-50: rgba(78, 154, 222, 0.5) !important;
    --clr-primary-alpha-18: rgba(78, 154, 222, 0.18) !important;
    --clr-text-primary: rgba(176, 176, 176, 0.87) !important;
    --clr-text-secondary: rgba(176, 176, 176, 0.54) !important;
    --clr-text-disabled: rgba(176, 176, 176, 0.38) !important;
    --clr-dividers: rgba(23, 23, 23, 0.63) !important;
    --clr-input-primary-bg: rgb(78, 154, 222) !important;
    --clr-input-primary-fg: rgb(23, 23, 23) !important;
    --clr-input-primary-bg-darken: var(--clr-primary-darken-20) !important;
    --clr-input-secondary-fg: rgb(78, 154, 222) !important;
    --clr-input-secondary-fg-alpha: rgba(78, 154, 222, 0.08) !important;
    --clr-sidebar-text-primary: rgb(210, 210, 210) !important;
    --clr-sidebar-text-secondary: rgba(210, 210, 210, 0.7) !important;
    --clr-sidebar-text-disabled: rgba(210, 210, 210, 0.5) !important;
    --clr-sidebar-active-bg: rgba(210, 210, 210, 0.18) !important;
    --clr-sidebar-active-fg: rgb(210, 210, 210) !important;
    --clr-sidebar-hover-bg: rgba(210, 210, 210, 0.24) !important;
    --clr-sidebar-hover-fg: rgb(210, 210, 210) !important;

    --main-bg: rgb(23, 23, 23);
    --main-fg: rgb(176, 176, 176);
    --link-hover: rgb(198, 224, 255);
    --scrollbar-rail: rgba(79, 78, 78, 0.5);

    --user-list-bg: var(--main-bg);
    --user-list-text: var(--main-fg);
    --color-off-white: var(--clr-sidebar-text-primary);
    --color-text: var(--main-fg);
    --color-heading: var(--clr-sidebar-text-primary);
    --userlist-handle-width: 2px;
}
